body {
  background-color: #087986;
  position: absolute;
  margin-left: 125px;
}

h1 {
  font-family: helvetica;
  color: white;
  text-align: center;
}

.board {
  margin: 0 auto;
  box-sizing: border-box;
  width: 504px;
  height: 504px;
  float: left;
}

.square {
  background-color: #ddd;
  border: 1px solid black;
  box-sizing: border-box;
  width: 63px;
  height: 63px;
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 21px;
}

#a1, #a3, #a5, #a7, #b2, #b4, #b6, #b8,
#c1, #c3, #c5, #c7, #d2, #d4, #d6, #d8,
#e1, #e3, #e5, #e7, #f2, #f4, #f6, #f8,
#g1, #g3, #g5, #g7, #h2, #h4, #h6, #h8 {
  background-color: #aaa;
}

.right-div {
  background-color: lightgrey;
  margin-left: 10px;
  box-sizing: border-box;
  width: 504px;
  height: 504px;
  float: right;
  border: 1px solid black;
  padding: 25px;
}

.clicked {
  border-radius: 12px;
  border-style: dotted;
  border-width: 2px;
}

div > p {
  font-family: arial;
  font-weight: bold;
  font-size: 25px;
}

.black {
  text-shadow: 5px 2px red;
}

.move-div {
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: #088654;
}

.move {
  font-family: arial;
  text-align: center;
  color: white;
}
